<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
       <meta charset="UTF-8">
    <title>MobiLeLeLe</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/navbar::navbar"></div>


<div class="container">
    <h2 class="text-center text-white m-3">All Brands</h2>
    <div class='row mb-4 d-flex justify-content-around'>
        <th:block th:each="b : ${brands}">
            <div  class="brand-section col-md-5 mr-auto d-flex flex-column">
                <h2>Car brand:
                    <span th:text="${b.name}"></span>
                </h2>
                <div>Models:
                    <table>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Start Year</th>
                            <th>End Year</th>
                            <th>Picture</th>
                        </tr>
                        <th:block th:each="m, iter : ${b.models}">
                            <tr>
                                <th th:text="${iter.index + 1}"></th>
                                <th th:text="${m.name}"></th>
                                <th th:text="${m.category}"></th>
                                <th th:text="${m.startYear}"></th>
                                <th th:text="${m.endYear}"></th>
                                <th><img alt="image" th:src="${m.imageUrl}"
                                         class="img-thumbnail rounded"></th>
                            </tr>
                        </th:block>
                    </table>
                </div>
            </div>
        </th:block>

    </div>

    <div>
             <footer> </footer>
    </div>
</div>
</body>
</html>
